img {
    object-fit: cover;
    width: 400px;
    height: 275px;
    object-position: 50% 38%;
    padding: 5%;
    align-items: stretch;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

html,
body {
  height: 100%;
}

.page-content {
  flex: 1 0 auto;
}

#sticky-footer {
    display: flex;
  flex-shrink: 0;
  align-items: center;
  
}

#copyright {
    display: flex;
    align-items: center;
    text-align: center;
}