.p_img {
    object-fit: cover;
    width: 400px;
    height: 275px;
    object-position: 50% 38%;
    padding: 5%;
    align-items: stretch;
}

#p_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

